IndexIgnore *

Options -Indexes

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

Redirect /favicon.ico /src/view/img/icon.png
RewriteRule ^(.*)$ /index.php?pg=$1
